
  <!-- Register Section -->
  <div id="register" class="content_wrap">
  
    <%= erb :"#{settings.conf}/_header" %>

    <div class="row">
      <div class="span1">
        <br>
      </div>
      <div class="span11">
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFJPaURjdXF3WXAtdTdRNzhFaVhjNWc6MA" width="100%" height="1790px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>

    </div>
  </div>