  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:30 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 11:00 </td>
          <td><strong><i class="icon-signin"></i> Introduction </strong> - <em> Dmytro Ovcharenko</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 11:15</td>
            <td><strong><i class="icon-comments"></i> Amazon Web Services OpsWorks. Deployment with ease</strong> - <a href="speakers#Petro.Sasnyk"><em>Petro Sasnyk</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 12:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:35</td>  
            <td><strong><i class="icon-comments"></i> Geo-distributed Messaging with RabbitMQ  </strong> - <a href="speakers#Andriy.Shapochka"><em>Andriy Shapochka</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:45</td>  
            <td><strong><i class="icon-comments"></i> Using Web workers in Javascript</strong> - <a href="speakers#Vitaliy.Tarnavskiy"><em>Vitaliy Tarnavskiy</em></a></td>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 13:25</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:15</td>  
            <td><strong><i class="icon-comments"></i> Mobile first </strong> - <a href="speakers#Oleksandr.Krasnokutskyi"><em>Oleksandr Krasnokutskyi</a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:20</td>  
            <td><strong><i class="icon-comments"></i> Whois: a practical guide</strong> - <a href="speakers#Oleksandr.Berchenko"><em>Oleksandr Berchenko</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:55</td>  
            <td><strong><i class="icon-comments"></i> Gems, snakes and Amazon forests</strong> - <a href="speakers#Serhii.Borysov"><em>Serhii Borysov</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 15:35</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:50</td>  
            <td><strong><i class="icon-comments"></i> Meteor</strong> - <a href="speakers#Dmytro.Ovcharenko"><em>Dmytro Ovcharenko</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:25</td>  
            <td><strong><i class="icon-comments"></i> Unknown subject related to Backbone</strong> - <a href="speakers#Ievhen.Kaliuzhnyi"><em>Ievhen Kaliuzhnyi</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:05</td>  
            <td><strong><i class="icon-comments"></i> Unusual JavaScript projects</strong> - <a href="speakers#Dima.Tarasenko"><em>Dima Tarasenko</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:50</td>
            <td><strong><i class="icon-signout"></i> Excursion</td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 18:35</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      
    </p>
  </div>
  </div>
