
<!-- Report Section -->

<div id="report" class="content_wrap">

<div class="promo_text speakers report">
    <div class="row">
        <div class="span7" style="padding-right: 20px">
          <h1 style="padding-bottom: 20px">
            <i class="icon-pencil" style="padding: 0 20px 0 0; margin: 15px 0 0 0"></i>
            <span>PACEMAKER - Report</span>
          </h1>

          <p>I’m pleased to tell that this time Software Development Office (SDO) and Training Management Group (TMG) gathered more than 50 SoftServers in Dniptopetrovsk. As you might know, Dnipro is the birthplace of Pacemaker. Dnipropetrovsk met us with sunny weather and warm feel.</p>
          <p>As always Pacemaker had diversified geography: Dnipropetrovsk, Lviv, Ivano-Frankivsk. </p>
          <p>Pacemaker:WebUI were officially started by Kyrylo Buzykin as a master of the ceremonies. After a short introduction he presented the first speaker Dmytro Ovcharenko. To tell the truth Dmytro made his &laquo;early bird&raquo; speech in his night, since he had 8hr difference (he was in USA).</p>
          <p>Dmytro presented &laquo;JS performance&raquo;. He was really sparkling despite remote connection and night. It was like a blow of energy in the morning </p>
          <p>Maksym Shtyria developed Dmytro’s theme with more practical presentation &mdash; &laquo;Sails.js &mdash; rail-way for nodeJS&raquo;. He’s working with Dmytro and has the same strength to grow up seeing such a leader.</p>
          <p>Dmytro Panov, one more charismatic speaker with Pacemaker experience, presented &laquo;From Startup to Enterprise on Rails&raquo;. </p>
          <p>After that we heard Dmytro’s Tarasenko speech &laquo;JavaScript Quest for programmers&laquo; with video questions, spy technologies and our galaxy visualization. </p>
          <p>Starting his speech Kyrylo Buzykin told us that it’s hard to speak after such a speaker as Dmytro Tarasenko, but he made it perfect.</p>
          <p>Taras Kustov, one more young but promising SoftServer, shared his view on the future of web components.</p>
          <p>Sergii Zabigailo tested all attendees and gave several &laquo;bad&raquo; advices on how to get more from your boss .</p>
          <p>Valentyn Maksymov with &laquo;Code health in JavaScript&raquo;, Nikos Ananikov with &laquo;Back side of the Moon? Or another one scripting language...&raquo; (it was all about LUA), Nodarii Varenko with &laquo;Memory leaks in JS&raquo; (on how to avoid them) and Victor Tkachenko with &laquo;Zombie.js&raquo; completed this inspiring day.</p>
          <p>It seemed that this day was like planetary alignment: so many stars, professional speakers and inspiring leaders at the same place – it’s incredible. Traditional pizza&amp;beer party came as soon our last speaker has completed the speech.</p>
          <p>All photos, presentations and useful material you can see on Pacemaker site. </p>
          <p>Many thanks to all speakers, attendees and staff for help, support and understanding.</p>
          <p>Join us at Pacemaker:.Net on November 1 in Kiev and Pacemaker: Java in the beginning of December! More news would come in a while.</p>

          <p><i>Sincerely yours, <br> SDO and TMG teams</i></p>

        </div><!-- .span7 -->

        <div class="span4" style="padding-bottom: 25px; margin-top: 80px">
          <a href="https://www.facebook.com/media/set/?set=a.603537476422548.1073741831.210154085760891&type=1"  target="_blank">
            <h3><i class="icon-picture" style="padding: 0 10px 0 0; margin: 7px 0 0 0 "></i> <span>Photos</span></h3>
            <img class="" src="/images/ico_photos.png"></img>
          </a>
        </div>

      <!-- videos -->
      <div class="span4">
        <a href="http://youtu.be/EM95-kwincs"  target="_blank">
          <h3><i class="icon-film"  style="padding: 0 10px 0 0; margin: 7px 0 0 0 "></i> Videos</h3>
              <img class="" src="/images/ico_videos.png"></img>
            </a> 
        </div>
</div>
</div>