  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 09:30
          </td>
          <td>
            <strong>
              <i class="icon-signin"></i> Registration
            </strong>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 10:00
          </td>
          <td>
            <strong>
              <i class="icon-signin"></i> Introduction
            </strong> - <em> Kyrylo Buzykin</em>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 10:15
          </td>
          <td>
            <strong>
            <i class="icon-comments"></i> JS performance
            </strong> - <a href="speakers#Dmytro.Ovcharenko">
              <em>Dmytro Ovcharenko</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 11:00
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Sails.js - rail-way for nodeJS
            </strong> - <a href="speakers#Maksym.Shtyria">
              <em>Maksym Shtyria</em>
            </a>
          </td>
        </tr>
        <tr class="coffee-break">
          <td class="time">
            <i class="icon-time"></i> 11:50
          </td>
          <td>
            <strong>
              <i class="icon-tint"></i> Coffee Break
            </strong>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 12:05
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> From Startup to Enterprise on Rails
            </strong> - <a href="speakers#Dmytro.Panov">
              <em>Dmytro Panov</em>
            </a>
          </td>
        </tr>
         <tr>
          <td class="time">
            <i class="icon-time"></i> 12:20
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Memory leaks in JS
            </strong> - <a href="speakers#Nodarii.Varenko">
              <em>Nodarii Varenko</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 13:10
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Scalable JavaScript Application Architecture
            </strong> - <a href="speakers#Kyrylo.Buzykin">
              <em>Kyrylo Buzykin</em>
            </a>
          </td>
        </tr>
        <tr class="lunch">
          <td class="time">
            <i class="icon-time"></i> 14:00
          </td>
          <td>
            <strong>
              <i class="icon-gift"></i> Lunch
            </strong>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 15:00
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Web Components: How It Will Be
            </strong> - <a href="speakers#Taras.Kustov">
              <em>Taras Kustov</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 15:20
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> 7 Tips Every Geek Should Know
            </strong> - <a href="speakers#Sergii.Zabigailo">
              <em>Sergii Zabigailo</em>
            </a>
          </td>
        </tr>
        <tr class="coffee-break">
          <td class="time">
            <i class="icon-time"></i> 16:00
          </td>
          <td>
            <strong>
              <i class="icon-tint"></i> Coffee Break
            </strong>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 16:25
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Code health in JavaScript
            </strong> - <a href="speakers#Valentyn.Maksymov">
              <em>Valentyn Maksymov</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 17:15
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Back side of the Moon? Or another one scripting language...
            </strong> - <a href="speakers#Nikos.Ananikov">
              <em>Nikos Ananikov</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 18:05
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> JavaScript Quest for programmers || Creating JS OOP library
            </strong> - <a href="speakers#Dmytro.Tarasenko">
              <em>Dmytro Tarasenko</em>
            </a>
          </td>
        </tr>
        <tr>
          <td class="time">
            <i class="icon-time"></i> 18:50
          </td>
          <td>
            <strong>
              <i class="icon-comments"></i> Zombie.js
            </strong> - <a href="speakers#Victor.Tkachenko">
              <em>Victor Tkachenko</em>
            </a>
          </td>
        </tr>

        
        <tr class="beer-break">
          <td class="time">
            <i class="icon-time"></i> 19:40
          </td>
          <td>
            <strong>
              <i class="icon-glass"></i> Pizza party
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      
    </p>
  </div>
  </div>
