
  <div id="details" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text">

      <div class="span8">
        <h3>Direction map</h3>
          <p><iframe width="580" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=48.461610,35.042079&amp;z=15&amp;output=embed"></iframe></p>
        </div>
      </div>

        <div class="span4">
          <h3>Address</h3>
        <p>
          <strong>Hotel: </strong> "Reikartz"  <a href="http://www.reikartz.com/en/hotels/dnepropetrovsk/contacts" target="_blank">Site</a><br>
          12A Krasnaya St. (Chervona St.), <br>
          Dnipropetrovsk, Ukraine
        </p>
         <h3>Contacts</h3>
        <p>
          <h4>Khrystyna Paprotska</h4>
          <ul>
            <li><strong>tel.: </strong> +380-32-240-9090 x3615</li>
            <li><strong>mail: </strong> <a href="mailto:kpap@softserveinc.com">kpap@softserveinc.com</a>, <a href="mailto:compdev@softserveinc.com">compdev@softserveinc.com</a> </li>
        </ul>
        </p>
        <p>
          <h4>Sabina Krupko</h4>
          <ul>
            <li><strong>tel.: </strong> +380 96 846 49 33  (int: 1772)</li>
            <li><strong>mail: </strong> <a href="mailto:skrupko@softserveinc.com">skrupko@softserveinc.com</a> </li>
          </ul>
        </p>
        <p>
          <h4> Alex Mekhovov</h4>
          <ul>
            <li><strong>tel.: </strong> +380 67 243 58 88 </li>
            <li><strong>mail: </strong> <a href="mailto:omekh@softserveinc.com">omekh@softserveinc.com</a> </li>
        </ul>
        </p>
        <!-- <h3>How to find us</h3>
        <p>
          <strong>Map Vokzal-Hotel:</strong> <a href="/map/map_pacemaker_lamp_vokzal-home.png">view</a><br>
          <strong>Map Hotel-Conference:</strong> <a href="/map/map_pacemaker_lamp_home-conf.png">view</a>
        </p> -->
        </div>
        

  </div>
