
  <div id="details" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text">

      <div class="span8">
        <h3>Direction map</h3>
          <p><iframe width="580" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Dnipropetrovsk&amp;z=15&amp;output=embed"></iframe></p>
        </div>
      </div>

        <div class="span4">
          <h3>Address</h3>
        <p>
          Ukraine, Dnipropetrovsk <br>
          
          <br>
          <!-- <a href="http://www.lvbs.com.ua">Site</a> -->
          <!-- <strong>Hotel: </strong> "Stanislav" (Chornovola st. 7) <a href="http://www.stanislaviv.org.ua/index.php">Site</a><br> -->
        </p>
         <h3>Contacts</h3>
        <p>
          <h4>Khrystyna Paprotska</h4>
          <ul>
            <li><strong>tel.: </strong> +380-32-240-9090 x3615</li>
            <li><strong>mail: </strong> <a href="mailto:kpap@softserveinc.com">kpap@softserveinc.com</a>, <a href="mailto:compdev@softserveinc.com">compdev@softserveinc.com</a> </li>
        </ul>
        </p>
        <!-- <h3>How to find us</h3>
        <p>
          <strong>Map Vokzal-Hotel:</strong> <a href="/map/map_pacemaker_lamp_vokzal-home.png">view</a><br>
          <strong>Map Hotel-Conference:</strong> <a href="/map/map_pacemaker_lamp_home-conf.png">view</a>
        </p> -->
        </div>
        

  </div>
