  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 9:30 </td>
          <td><strong><i class="icon-signin"></i> Registration, Coffee Break</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 10:00 </td>
          <td><strong><i class="icon-signin"></i> Conference opening</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 10:30</td>
            <td><strong><i class="icon-comments"></i> Development of innovative cross-platform solutions </strong> - <a href="speakers#Serhii.Seletskyi"><em>Serhii Seletskyi</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:30</td>  
            <td><strong><i class="icon-comments"></i> TPL DataFlow the concurrent beast from .NET kingdom  </strong> - <a href="speakers#Petro.Sasnyk"><em> Petro Sasnyk </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 12:30</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:45</td>  
            <td><strong><i class="icon-comments"></i> Lightning talks  </strong> </td>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 14:00</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:00</td>  
            <td><strong><i class="icon-comments"></i> Cloud Computing with Windows Azure </strong> - <a href="speakers#Borys.Korobeinikov"><em> Borys Korobeinikov </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:00</td>  
            <td><strong><i class="icon-comments"></i> Ode To A Laziness </strong> - <a href="speakers#Pavlo.Prystupa"><em> Pavlo Prystupa </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 17:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:15</td>  
            <td><strong><i class="icon-comments"></i> Creativity techniques </strong> - <a href="speakers#Andriy.Mykytyuk"><em> Andriy Mykytyuk </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 18:15</td>
            <td><strong><i class="icon-signout"></i> Conference closing </td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 18:30</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      * Program schedule might be changed.
    </p>
  </div>
  </div>
