  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 9:00 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:30 </td>
          <td><strong><i class="icon-signin"></i> Conference opening</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 10:00</td>
            <td><strong><i class="icon-comments"></i> Overview of Erlang </strong> - <a href="speakers#Francesco.Cesarini"><em>Francesco Cesarini</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 11:30</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:45</td>  
            <td><strong><i class="icon-comments"></i> Android REST client  </strong> - <a href="speakers#Ievgen.Usenko"><em>Ievgen Usenko </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:45</td>  
            <td><strong><i class="icon-comments"></i> Powerful programming with Groovy/Grails </strong> - <a href="speakers#Dmytro.Voloshko"><em> Dmytro Voloshko </em></a></td>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 13:45</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:00</td>  
            <td><strong><i class="icon-comments"></i> Lightning talks  </strong> </td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:00</td>  
            <td><strong><i class="icon-comments"></i> Multi-tenancy Implementation with Spring and JPA2 </strong> - <a href="speakers#Borys.Korobeinikov"><em> Ruslan Danilin </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 17:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:15</td>  
            <td><strong><i class="icon-comments"></i> Java in the world of Hacking </strong> - <a href="speakers#Andriy.Novak"><em> Andriy Novak </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 18:15</td>
            <td><strong><i class="icon-signout"></i> Conference closing </td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 18:30</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      * Program schedule might be changed.
    </p>
  </div>
  </div>
