
<div id="details" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text">

        <div class="span8">
            <h3>Direction map</h3>
            <p>
                <iframe 
                    width="580" 
                    height="480" 
                    frameborder="0" 
                    scrolling="no" 
                    marginheight="0" 
                    marginwidth="0" 
                    src="http://maps.google.com/maps?q=48.2774893,25.9437479&amp;z=15&amp;output=embed"
                ></iframe>
            </p>
        </div>
    </div>

    <div class="span4">
        <h3>Address</h3>
        <p>
            <strong>&laquo;Bukovyna Hotel&raquo;</strong>  <a href="https://www.facebook.com/pages/Bukovyna-Hotel/183968248340194" target="_blank">Site</a><br>
            141, Golovna str <br>
            Chernivtsi, Ukraine
        </p>
        <h3>Contacts</h3>
        <p>
            <h4>Mykola Shved</h4>
            <ul>
                <li><strong>tel.: </strong> +380 63 139 77 19 x6355</li>
                <li><strong>mail: </strong> <a href="mailto:mshved@softserveinc.com">mshved@softserveinc.com</a>
            </ul>
        </p>
        <p>
            <h4>Yevheniia Bereza</h4>
            <ul>
                <li><strong>tel.: </strong> +380 63 1472196   (int: 6363)</li>
                <li><strong>mail: </strong> <a href="mailto:yber@softserveinc.com">yber@softserveinc.com</a>, <a href="mailto:compdev@softserveinc.com">compdev@softserveinc.com</a> </li></li>
            </ul>
        </p>
    </div>
</div>