
<!-- Report Section -->

<div id="report" class="content_wrap">

<div class="promo_text speakers report">
    <div class="row">
        <div class="span7" style="padding-right: 20px">
          <h1 style="padding-bottom: 20px">
            <i class="icon-pencil" style="padding: 0 20px 0 0; margin: 15px 0 0 0"></i>
            <span>Pacemaker: Java, Chernivtsi, December 6</span>
          </h1>

          <p>Pacemaker: Java became the most crowded event of this year. And SDO and TMG could proudly say that it was the best finish for 2014 year. This time 80 SoftServers gathered in Chernivtsi on December 6. Despite winter weather most of them came from different locations (Lviv traditionally, Dnipro, Rivne, Chernivtsi, I. Frankivsk and Kyiv).</p>

          <p>Mykola Shved (Professional Training Specialist, TMG) opened the conference with short speech and presentation of the first speaker – Dmytro Voloshko (TechLeader at SoftServe). He spoke about Grails (the complete name of the speech is &laquo;Grails. Barrel of honey&raquo;). We had some kind of tradition: the third Pacemaker opened by speaker with the name Dmytro. He was really energetic, charismatic and professional, so in 10-15min all the audience listened to him attentively. Bravo, Dyma!</p>

          <p>After Dmytro, Orest Ivasiv explained why and &laquo;When Camel smiles&raquo;. Orest is one more old salt of Pacemaker (and also TechLeader at SoftServe). His speech was all about Apache Camel and how to start development quickly using this framework. Till the final voting we thought that Orest is going to be &laquo;the best speaker&raquo;. The day of inspired people began.</p>

          <p>Yurii Bilyk (Security Engineer at SoftServe) described in details how to mitigate POODLE attack and what is so scared in this word, POODLE :).</p>

          <p>Serhiy Yakovyn (TechLeader at SoftServe) explained how connect different data providers with data consumers quickly using Mule ESB CE (Community Edition). </p>

          <p>One more energetic and funny, despite his high professionalism speaker, Oleksandr Lazarchuk, told about hard decision on the way from web application to hybrid. He enlisted so many pitfalls that saw his team working on the current project so next time developers would think twice before start development.  </p>

          <p>Vitalii Bashun (Senior Engineer at SoftServe) made the most wanted speech, MapReduce and Hadoop. As we found out during the event almost half of the auditory came to hear this particularly speech. I hope we would hear more updates on Hadoop during the next Pacemaker: BigData.</p>

          <p>Bohdan Serednytskyi (Security Engineer at SoftServe) described in details how to mitigate SQL-injections and what they could do with your project if you still have doubts to think about security or not.</p>

          <p>Vadim Mikhnevych (Senior Software Engineer) described all benefits of Spring Integration. Also he provided some useful examples where, when and why you can use it for your good.</p>

          <p>Vitalii Bashun made his second speech with bumped-up name &laquo;Is ORM a Friend or an Enemy?&raquo; Thanks to his charisma and inspiration he was called &laquo;the best speaker&raquo; of Pacemaker: Java.</p>

          <p>In the end of the Conference Yevheniia Bereza (SD Coordinator, SDO) told about Engineering Communities at SoftServe pointing out the main goals of such interaction (networking, knowledge sharing, help in resolving daily issues, etc.).</p>

          <p>Traditional pizza &amp; beer party started as soon as all attendees and speaker got to &laquo;Nashe Pivo&raquo; bar.</p>

          <p>All photos, presentations and useful material you can see on <a href="http://pacemaker.in.ua/">Pacemaker</a> site. </p>

          <p>I want personally thank all fellows who helped us to make such events real!</p>

          <p>Next Pacemaker is going to be devoted to BigData. CYA in Lviv on February 28.</p>

          <p><i>Sincerely yours, <br/> SDO and TMG teams</i></p>

        </div><!-- .span7 -->

        <!-- images -->
        <div class="span4" style="padding-bottom: 25px; margin-top: 80px">

            <div style="float: left;">
                <img class="pht_vid" src="/images/ico_photos.png"></img>
            </div>

            <div style="float: left; font: 1.2em Helvetica; margin: 10px 0 0 20px ">
                Photos from <br />
                <a href="https://www.facebook.com/media/set/?set=a.637498846359744.1073741833.210154085760891&type=3">official part</a>
                &amp;
                <a href="https://www.facebook.com/media/set/?set=a.637503776359251.1073741834.210154085760891&type=3">afterparty</a>
            </div>

        </div>

        <!-- videos -->
        <!-- <div class="span4">
          <a href="http://youtu.be/EM95-kwincs"  target="_blank">
            <h3><i class="icon-film"  style="padding: 0 10px 0 0; margin: 7px 0 0 0 "></i> Videos</h3>
                <img class="" src="/images/ico_videos.png"></img>
              </a> 
          </div>
        </div> -->
</div>