<!-- Program Section -->
<div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text program-list">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="time"><i class="icon-time"></i> 09:30 </td>
                    <td><strong><i class="icon-signin"></i>    Registration </strong></td>
                </tr>
                <tr>
                    <td class="time"><i class="icon-time"></i> 10:00 </td>
                    <td><strong><i class="icon-signin"></i>    Introduction </strong></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 10:10 </td>
                    <td><strong><i class="icon-comments"></i>   Grails. Barrel of honey... </strong> - <a href="speakers#dmitro.voloshko"> <em>Dmytro Voloshko</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 11:05 </td>
                    <td><strong><i class="icon-comments"></i>   When Camel smiles </strong> - <a href="speakers#orest.ivasiv"> <em>Orest Ivasiv</em></a></td>
                </tr>
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 11:50 </td>
                    <td><strong><i class="icon-tint"></i>       Coffee Break </strong></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 12:05 </td>
                    <td><strong><i class="icon-comments"></i>   SSL/POODLE: History repeats itself </strong> - <a href="speakers#yurii.bilyk"> <em>Yurii Bilyk</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 12:50 </td>
                    <td><strong><i class="icon-comments"></i>   Mule ESB: Make integration easy </strong> - <a href="speakers#serhiy.yakovyn"> <em>Serhiy Yakovyn</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 13:35 </td>
                    <td><strong><i class="icon-comments"></i>   How mobile app can save your life, but not </strong> - <a href="speakers#oleksandr.lazarchuk"> <em>Oleksandr Lazarchuk</em></a></td>
                </tr>
                <tr class="lunch">
                    <td class="time"> <i class="icon-time"></i> 13:50 </td>
                    <td> <strong> <i class="icon-gift"></i> Lunch </strong> </td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 14:50 </td>
                    <td><strong><i class="icon-comments"></i>   MapReduce and Hadoop </strong> - <a href="speakers#vitalii.bashun"> <em>Vitalii Bashun</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 15:40 </td>
                    <td><strong><i class="icon-comments"></i>   Ready, A.I.M., Inject! </strong> - <a href="speakers#bohdan.serednytskyi"> <em>Bohdan Serednytskyi</em></a></td>
                </tr>
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 16:15 </td>
                    <td> <strong> <i class="icon-tint"></i> Coffee Break </strong> </td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 16:30 </td>
                    <td><strong><i class="icon-comments"></i>   Messaging with Spring-Integration </strong> - <a href="speakers#vadim.mikhnevych"> <em>Vadim Mikhnevych</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 17:15 </td>
                    <td><strong><i class="icon-comments"></i>   Is ORM a Friend or an Enemy? </strong> - <a href="speakers#vitalii.bashun"> <em>Vitalii Bashun</em></a></td>
                </tr>
                <tr class="beer-break">
                    <td class="time"> <i class="icon-time"></i> 19:00 </td>
                    <td> <strong> <i class="icon-glass"></i> Pizza party </strong> </td>
                </tr>
            </tbody>
        </table>
        <p>

        </p>
    </div>
</div><!-- #program -->
