<!-- Speakers Section -->
<div id="speakers" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text speakers">

        <!-- Speaker -->

<!--
         <div class="row">
            <div class="span12" id="speaker">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:speaker@site.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Speaker</h3>
                    <p>
                        About speaker
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        About speech
                    <p>
                </div>
            </div>
        </div>
-->

        <!-- / Speaker -->

        <!-- Dmitry Voloshko -->

         <div class="row">
            <div class="span12" id="dmitry.voloshko">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.jpg"/>
                    <div class="links">
                        <a href="mailto:dvolosh@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Dmitry Voloshko</h3>
                    <p>
                        Technical Leader with more than 7 years experience in Java. I've been involved in the implementation of huge Grails app for 3 years.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        Grails is one of the most flexible and most powerful frameworks on The Java Platform. Grails leverages the flexibility offered by the platform in a way that other web frameworks do not. <br>
                        The following presentation will take you from knowing nothing about Grails to implementing a full Grails application - all in a matter of minutes!
                    <p>
                </div>
            </div>
        </div>

        <!-- / Dmitry Voloshko -->

        <!-- Orest Ivasiv -->

         <div class="row">
            <div class="span12" id="speaker">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.jpg"/>
                    <div class="links">
                        <a href="mailto:oivasiv@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Orest Ivasiv</h3>
                    <p>
                        I will provide description later
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Releated to Groovy, Java, Spring, Dropwizard</h4>
                    <p>
                        I will provide description later
                    <p>
                </div>
            </div>
        </div>

        <!-- / Orest Ivasiv -->

    </div><!-- .promo_text speakers -->
</div><!-- #speakers -->

