<footer class="tk-museo-slab">
  <ul class="navlistright social">
    <li>Copyright &copy; 2012 SoftServe.</li>
    <li class="follow"><%= settings.conferencies[settings.conf][:title] %> </li>
    <li><a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter_small.png" class="twitter"></img></a></li>
    <li><a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook_small.png" class="twitter"></img></a></li>
  </ul>
</footer>