<footer class="tk-museo-slab">
  <ul class="navlistright social">
    <li class="follow"><%= settings.conferencies[settings.conf][:title] %> </li>
    <li><a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter_small.png" class="twitter"></img></a></li>
    <li><a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook_small.png" class="twitter"></img></a></li>
  </ul>
  <ul class="navlistleft">
    <li><a href="about"><i class="icon-info-sign"></i> About</a></li>
    <li><a href="speakers"><i class="icon-user"></i> Speakers</a></li>
    <li><a href="schedule"><i class="icon-th-list"></i> Schedule</a></li>
    <li><a href="location"><i class="icon-map-marker"></i> Location</a></li>
    <li><a href="report"><i class="icon-pencil"></i> Report</a></li>
  </ul>
  <p class="copyright">Copyright &copy; 2012 SoftServe.</p>
</footer>