<footer>
      <!-- <ul class="navlistright social">
        <li><a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook_small.png" class=""></img></a></li>
        <li><a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter_small.png" class=""></img></a></li>
      </ul> -->
    <a href="http://softserve.ua"  target="_blank"><img src="/images/ss_logo.png" class="ss_logo_footer"> </img></a>
</footer>

