<ul class="nav ribbons">
  <li class='ribbon-js-2012'><a href="/js-2012">JS 2012</a></li>
  <li class='ribbon-java-2012'><a href="/java-2012">Java 2012</a></li>
  <li class='ribbon-lamp-2012'><a href="/lamp-2012">LAMP 2012</a></li>
</ul>