
/* images overrides
------------------------------------------------------------------------------*/
body {
	background:#dcdcdc url('/images/linen_lite.png') repeat fixed;
   font-size: 13px;
   line-height: 18px;
}

.trillsy.navbar h2 a {
	display:inline-block;
	width:290px;
	height:71px;
	background:transparent url('/images/logo_conf.png') center center no-repeat;
	text-indent:-9000px;
}

#community_beta .feature {
	background:#999999 url('/images/beta_blueprint.jpg') -46px -108px no-repeat;	
}

body#error {
	background:#efefef url('/images/linen_lite.png') center top repeat;
}

.adipoli-wrapper > div, .adipoli-before > div, .adipoli-after > div {
    padding: 0 ! important;
    border: none ! important;
}


/****************  top menu  **************/
.navbar-inner {
	height:45px;
	background: url('/images/ios-linen.jpg') repeat;

	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
	-moz-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.6);
	-o-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.6);
	box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.6);
}

.navbar .nav > li > a {
	color: #ddd;
	font-size:14px;
}

.trillsy.navbar .container > ul > li > a {
	padding: 8px 15px 21px 20px;
}

.navbar .nav > li > a:hover {
	color: white;
	font-weight: bold;
}

.navbar .nav > li > a.cta:hover {
	color: white;
	font-size:14px;
}




h2 strong {
    font-weight:700;
}

h4 {
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    font-size:15px;
    
}

/** NAV **/

.pages_nav .navbar {
    margin: 40px -10px 20px 0;
}

.pages_nav .navbar-inner {
    background:transparent;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    filter:none;
}

.pages_nav .navbar .brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:700;
    font-size:32px;
    padding:0;
    margin-left:0;
}

.pages_nav .navbar .nav {
    float:right;
}

.pages_nav .navbar .nav li {
    margin-left:15px;
}

.pages_nav .navbar .nav li a {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    padding:6px 18px;
    color:#888;
    text-shadow:none;
    -webkit-border-radius:16px;
    border-radius:16px;
    background:#fff;
    border:1px solid #ddd;
    border-color:#ddd #d0d0d0 #bbb;
    line-height:16px;
    text-align:center;
    min-width:60px;
}

.pages_nav .navbar .nav .active a {
    -webkit-border-radius:16px;
    border-radius:16px;
    background:#4fb6e9;
    border:1px solid #ddd;
    border-color:#3ca3d7 #3799ca #338bb8;
    color:#fff;
    text-shadow:none;
    background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(146,219,255)),
        color-stop(0.05, rgb(79,182,233)),
        color-stop(1, rgb(57,160,211))
    );
    text-shadow:#3799ca 0 -1px 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
}


.pages_nav .navbar .nav li a:hover {
    color:#3799ca;
    background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255,255,255)),
        color-stop(0.05, rgb(250,250,250)),
        color-stop(1, rgb(244,244,244))
    );
    box-shadow:rgba(0,0,0,0.1) 0 1px 3px;
    text-shadow:#fff 0 0 2px;
}


.pages_nav .navbar .nav .active a:hover {
    background:#3ca3d7;
    color:#fff;
    text-shadow:none;
    background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(146,219,255)),
        color-stop(0.05, rgb(79,182,233)),
        color-stop(1, rgb(57,160,211))
    );
    text-shadow:#3799ca 0 -1px 0;
    box-shadow:rgba(0,0,0,0.1) 0 1px 3px;
}


.wrapper {
	/*padding-top: 0;*/

  /*height: 20px;*/
  border-top: 1px dashed #333;
	/*-moz-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.7);
	-o-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.7);
	box-shadow: inset 0 13px 13px -13px rgba(0,0,0,0.9);*/
}

/*.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: white;
	text-decoration: none;
	background: none;
	font-size:16px;
}
*/

/* community beta feature
------------------------------------------------------------------------------*/
#about, #speakers, #program, #details, #register, #report {
	width:100%;
	overflow:auto;
	background:#ffffff;
	padding:0;
}
#community_beta .feature {
	background:#999999 url(/images/beta_blueprint.jpg) -46px -108px no-repeat;	
}
#about .promo_text, #speakers .promo_text, #program .promo_text, #details .promo_text, #register .promo_text, #report .promo_text {
	padding:20px;
}
#about .relative, #speakers .relative, #program .relative, #details .relative, #register .relative, #report .relative  {
	position:relative;
	height:448px;
}
#about .speakers .span1 {
  padding: 0;
}
#about .speakers .span3 {
  margin-left: 5px;

}
#register {
  height: 2200px;
}

#register .header {
  margin-bottom: 15px;
}

#content.container {
	margin-top: 25px;
}


/****************  logo  **************/
.ss_logo a {
	display:inline-block;
	width:180px;
	height:46px;
	background:transparent url('/images/logo_softserve.png') center center no-repeat;
	text-indent:-9000px;
}
h1.ss_logo {
  color: rgba(250, 250, 250, 0.5);
  margin-top: 10px;
  font-weight: normal;
  font-size: 22px;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 1px;
}
.video {
	width: 290px; 
	height: 170px;
}
/****************  cotial icons  **************/
.trillsy.navbar ul.pull-right li {
	margin-right: -15px;
	margin-left: -15px;
}

/****************  ribbons  **************/

.trillsy.navbar {
}
.trillsy.navbar ul.ribbons {
  float: left;
	margin: -38px 0 0 0;
}

#main_menu {
  z-index: 200;
}

#ribbons_menu {
  z-index: 100;
  height: 30px;
}
.navbar-fixed-top {
  height: 30px;
}

.trillsy.navbar ul.ribbons li {
  margin-bottom: 0;
  padding-bottom: 0;
}
.trillsy.navbar ul.ribbons li a {
  padding: 0;
  margin-bottom: 0;
}

.trillsy.navbar ul.ribbons li a img {
  /*height: 110px;*/
  margin-bottom: 0;
  padding-bottom: 0;
}
.trillsy.navbar .ribbon {
	display:inline-block;
  margin-right: -20px;
  padding-bottom: 0;
}

/****************  about  **************/
#about .about {
	position:relative;
	height:190px;
	/*background: #999999 url('/images/bg.png') no-repeat;*/
}

#about .about h1 {
	color: #eee;
	padding: 30px 47px;
	float:right;
}

#about .about .logo_softserve {
	float: center;
	margin-top: -5px;
	margin-left: 30px;
}

#about .about .logo_conf {
	float: center;
	margin-top: -5px;
	margin-left: 5px;
	max-height: 70px;
}


.logo_conf {
	float: center;
	margin-top: -8px;
	margin-left: 10px;
	margin-right: 10px;
	max-height: 45px;
}
#about .about .logo_web_conf {
	float: center;
	margin-top: 0;
	margin-left: 40px;
	max-height: 100px;
}

/****************  speakers  **************/


/*#speakers .speakers {
	position:relative;
	height:90px;
	background: none;
}
#speakers .speakers_top {
	background: none;
}
#speakers .speakers h1 {
	color: #999;
	padding: 30px 47px;
	float:right;
}

#speakers .promo_text .photo {
	background: white;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(250, 250, 250, 0.9)));
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
	background: -moz-linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
	background: -o-linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
	background: -ms-linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
	background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #B7BBC0;
	padding: 5px;

}*/




#speakers h3 small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#speakers .topic h4 {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
#speakers .photo {
  padding-top: 15px;
  width: 120px;
}

#speakers .about {
  width: 425px;
}

#speakers .topic {
  width: 280px;
}

/****************  program  **************/
#program .program {
	position:relative;
	height:90px;
	background: none;
}
#program .program_top {
	background: none;
}
#program .program h1 {
	color: #999;
	padding: 30px 47px;
	float:right;
}

#program .coffee-break {
	background-color: #eafdea;
}

#program .lunch {
	background-color: #d9fbd9;
}

#program .beer-break {
	background-color: #eafdea;
}

#program .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background: none;
}


/****************  details  **************/
#details .details {
	position:relative;
	height:90px;
	background: none;
}
#details .details_top {
	background: none;
}
#details .details h1 {
	color: #999;
	padding: 30px 47px;
	float:right;
}


#hint {
	position: relative;
	width: 700px;
	height: 71px;
	margin: -47px auto;
	padding: 14px 6px 9px;
	background: url('/images/bg-psst.png') no-repeat 0 0;
	z-index: 2000;
	overflow: hidden;
}
#hint p {
	display: table-cell;
	width: 520px;
	height: 71px;
	margin: 0;
	padding: 0 90px;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	font-family: "Ayita Pro SemiBold";
}

#hint p img {
	margin-bottom: -15px;
}

.photo {
 	max-height: 195px;
}


.map_calendar {
 	text-align: center;
}

.map_calendar .reg{
 	text-align: left;
}

.map {
 	max-height: 60px;
}

.pht_vid_rep .span1 {
	width: 40px;
}

.pht_vid_rep h3 {
	font-size: 17px;
}
.pht_vid {
 	max-height: 60px;
}



.twits {
	text-align: left;
}

.twits .post {
	width: 215px;
	margin-left:5px;
}
.twits .post {
	margin: 0;
	background: url('/images/twitter_draw.png') bottom right no-repeat;
}

.twits.alert {
	padding: 5px;
	margin-bottom: 8px;
}

/************************* slider *****************/

.da-slider {
	height: 190px;
	margin: 0;
	/*background: #999999 url('/images/bg.png') repeat 0% 0%;*/
  background: #999999 url('/images/bg_linen.jpg') repeat 0% 0%;
	border: none;
}

.da-slide h2 {
	/*color: #444;*/
  color: #fff;
	top: 10px;
	font-family: 'Bad Script';
	font-size: 34px;
	/*text-shadow: 2px 1px 1px rgba(250, 250, 250, 0.45);*/
  text-shadow: 2px 1px 1px rgba(50, 50, 50, 0.45);
}


.da-slide p {
	top: 70px;
	font-size: 20px;
	height: 100%;
	/*color: #666;*/
  color: #333;
	/*text-shadow: 2px 1px 1px rgba(200, 200, 200, 0.15);*/
  text-shadow: 2px 1px 1px rgba(250, 250, 250, 0.35);
}


.da-slide .da-img {
	top: 0;
	left:80%;
	right: 0;
	margin: 0;
	max-height: 180px;
	height: 180px;
	line-height: 0;
	width: 0;

}


/*.da-slide .da-img img {
  max-height: 99%;
  max-width: 95%;
  max-width: 180px;
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(250, 250, 250, 0.9)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.9),rgba(250, 250, 250, 0.9));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9));
  background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9));
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #B7BBC0;
  padding: 5px;
}*/


.topic_logo {
	top: 0;
	position: relative;
}

.topic_logo img {
	height: 120px;
}

.topic_author {
	margin-top: 75px;
	margin-left: 485px;
}
.star_min {
	margin-top: -45px;
	margin-left: 480px;
}

.da-dots span {
	border-radius: 50%;
	background: #CCC;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3) inset, 1px 1px 1px rgba(255,255,255,0.3);
}

.da-arrows span {
	background: #CCC;
}

/* Typography
---------------------------------------------------------------------------------------- */

@font-face {
  font-family: "Ayita Pro SemiBold";
  src: url('../font/AyitaPro-SemiBold.eot');
}

@font-face {
  font-family: "Ayita Pro SemiBold";
  src: url('../font/AyitaPro-SemiBold.ttf') format("truetype");
}  

@font-face {
  font-family: "museo_slab";
  src: url('../font/museo_slab_300-webfont.eot');
}

@font-face {
  font-family: "museo_slab";
  src: url('../font/museo_slab_300-webfont.ttf') format("truetype");
} 

h1, h2, h3, h4, h5, h6 {
	font-family: "Ayita Pro SemiBold";
	line-height: 1.2em;
}


.program-list strong {
	font-size: 14px;
	line-height: 1.5em;
}
.program-list .time {
	font-size: 14px;
	font-weight: bold;
}

.time {
	width: 70px;
}

/************ limit ************/

.limit img {
	max-height: 40px;
	margin-right: -14px;
}

.twitter {
	max-height: 32px;
	margin-left: 10px;
}



/****************  report  **************/

#report .span7 p {
	width: 500px;
	margin-top: 20px;
}

.photo_report {
 	max-height: 400px;
 	max-width: 500px;
}

.logo_report {
	margin: 0px 20px 10px 10px;
	max-height: 110px;
	max-width: 110px;
}


/****************  buttons  **************/
.rounded {
	border-radius: 20px;
}
.btn-small {
	padding: 3px 9px;
	font-size: 13px;
	line-height: 15px;
}
/************ register button ************/

ul.pull-right li {
	margin-top: 5px;
	padding-top: 2px;
}
.trillsy.navbar .container > ul.pull-right > li > a { 
	padding: 0 15px 21px 15px;
	
}
.trillsy.navbar .container > ul.pull-right > li > a.survey { 
	padding: 0 15px 18px 15px;
	margin-right: 25px;
}

.cta {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
    font: normal 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 11px;
    text-decoration: none;
    line-height: 50px;
  white-space: nowrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
  -moz-user-select: none;
  -webkit-user-select:none;
  -khtml-user-select: none;
  user-select: none;
  overflow: visible;
  outline: none;
}
.cta:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.cta:hover {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.cta:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.cta-red {
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
}
.cta-red {
    border: solid 1px #b8473d;
    background: #f36c4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
    background: -moz-linear-gradient(top, #f36c4d, #ef3e29);
    background: -ms-linear-gradient(top, #f36c4d, #ef3e29);
    background: -o-linear-gradient(top, #f36c4d, #ef3e29);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29')";
}
.cta-red:before {
    border: solid 1px #f67b5f;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-red:hover {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fb856a), to(#f7523f));
    background: -moz-linear-gradient(top, #fb856a, #f7523f);
    background: -ms-linear-gradient(top, #fb856a, #f7523f);
    background: -o-linear-gradient(top, #fb856a, #f7523f);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f')";
}
.cta-red:active {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef3e29), to(#f36c4d));
    background: -moz-linear-gradient(top, #ef3e29, #f36c4d);
    background: -ms-linear-gradient(top, #ef3e29, #f36c4d);
    background: -o-linear-gradient(top, #ef3e29, #f36c4d);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d')";
}









.register small {
  margin-left: 60px;
}


/* Download button */
@-webkit-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
@-moz-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
.register .btn {
  margin-left: 40px;
  padding: 14px 44px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
  -webkit-animation-name: downloadButton;
     -moz-animation-name: downloadButton;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;

}
.register .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

.register .btn.btn-primary {
  color:  #ffffff;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:  #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom,  #0088cc,  #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.header {
  /*background: url('/images/stitches.png') repeat-x bottom left;*/
  height: 250px;
  padding-top: 20px;
}

/*.pacemaker_logo h1 {
  font-size: 26px;
  color: rgb(215, 74, 72);
  text-shadow: rgba(0, 0, 0, 1) 1px 0px 2px;
}
.pacemaker_logo small {
  font-size: 26px;
  color: rgb(248, 148, 6);
  font-weight: bold;
}
*/


.conf_logo {
  /*margin-top:  -15px;*/
  /*width: 180px;*/
}

.conf_logo .logo {
  margin: 0 0 0 60px;
  height: 145px;
}

.conf_about p {
  padding: 20px 30px 10px 50px; 
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.conf_about .author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  color: #999;
  float: right;
  padding-right: 15px;
}

.conf_name {
  background: #9a2928;
  margin: 15px 2px 15px 0;
  height: 100px;
  padding: 0;
}

.conf_name h1 {
  padding: 10px 20px 0 0;
  color: white;
  font-size: 45px;
  text-align: right;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.conf_name p {
  padding:0 20px 10px 0;
  color: white;
  font-size: 16px;
  text-align: right;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.conf_details {
  width: 355px;
  margin: 15px 0 15px 3px;
  background: #feda2f;
  height: 100px;
}


.conf_details p {
  padding: 10px 0 0 20px;
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}






.call_speakers {
  font-size: 80px;
  margin: 60px 80px;
  color: grey;
}

.icons {
  max-width: 20px;
  margin-top: -5px;
  margin-right: 5px;
}


.speakers .about h3 {
  /*font-family: 'Bad Script';*/
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px #eee;
}


.speakers .topic h4 {
  border-bottom: solid 1px #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


.speakers .about h3 small {
  padding-left: 10px;
}

.speakers .topic {
  position: relative;
  min-height: 100px;
  background-color: rgba(240, 240, 240, 0.2);
  color: #555;
  border-color: rgba(240, 240, 240, 0.8);
}

.speakers .topic .label {
  position: absolute;
  bottom: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  text-shadow:none;
}

.speakers .about .links {
  position: relative;
  float: right;
  top: 17px;
}

.speakers .photo img {
  max-height: 100px; 
}

.speakers .topic .links {
  position: relative;
  float: right;
  top: 1px;
  right: -25px;
}

/*#about blockquote {
  border-left: 5px solid rgba(0, 204, 136, 0.3);
}*/

#about .star_minutes blockquote {
  border-left: 5px solid rgba(0, 136, 204, 0.2);
}


.speakers_info h3 {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.speakers_info .span4 {
  margin-bottom: 20px;
}




#about .speakers {
  padding: 0;
}

#about .speakers h3 {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about .speakers .span4 {
  height: 110px;
  margin: 5px;
}

#about .speakers .span4 p {
  padding: 0 10px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

#about .speakers .span4 p i {
  color: #999;
}

#about .speakers .span4 .author {
  font-style: italic;
  margin: 0;
  padding-top: 0;
  color: #666;
}

#about .speaker_pht {
  width: 90px;
  margin: 0 10px 0 0;
}