
  <!-- Register Section -->
  <div id="register" class="content_wrap">
  
    <%= erb :"#{settings.conf}/_header" %>

    <div class="row">
      <div class="span1">
        <br>
      </div>
      <div class="span11">
        


<!-- www.123contactform.com script begins here -->
 <script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-837519.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

<p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--837519.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->       
<!-- www.123contactform.com script ends here -->


      </div>

    </div>
  </div>