
<!-- Report Section -->

<div id="report" class="content_wrap">

<div class="promo_text speakers report">
    <div class="row">
        <div class="span7" style="padding-right: 20px">
          <h1 style="padding-bottom: 20px">
            <i class="icon-pencil" style="padding: 0 20px 0 0; margin: 15px 0 0 0"></i>
            <span>PACEMAKER - Report</span>
          </h1>

          <p>This time Pacemaker went to Kyiv. SDO and TMG gathered more than 50 SoftServers on November 1 in Premier Hall. Despite Kyiv met us with cold weather, warm atmosphere at the conference made its part. As the tradition participants came from different locations (Lviv, Dnipro, Rivne, Chernivtsi, I. Frankivsk and Kyiv).</p>

          <p>Mykola Shved (Professional Training Specialist, TMG) officially opened the conference with short speech and presentation of the first speaker – Dmytro Bibikov (Project Coordinator and Scum Master, Trainer). Dmytro told us about <a href="http://pacemaker.in.ua/slides/.Net-2014/Bibikov.zip">Adult Education, Coaching &amp; Mentoring and Emotional intelligence</a> in light and humoristic manner. It was like a breath of fresh air in sleepy conference morning </p>

          <p>After Dmytro, Taras Dyvak (Senior Software Engineer) presented more technical speech. It was all about <a href="http://pacemaker.in.ua/slides/.Net-2014/Functional_Programming_in_dot_net.pptx">functional programming in .Net</a>. He opened technical part of the event. Taras is also experienced in Web development.</p>

          <p>Volodymyr Morozov continued his way to technical side. Volodymyr enlisted useful tips on how to <a href="http://pacemaker.in.ua/slides/.Net-2014/Integration_with_MS_Office.pptx">integrate with MS Office</a> without going mad.</p>

          <p>Petro Sasnyk (SAG Associate) as old salt of Pacemaker conference told us <a href="http://pacemaker.in.ua/slides/.Net-2014/Nuget_%E2%80%93_managing_binary_artifacts_with_breeze.pptx">how to simplify complexity of medium and large projects using Nuget</a>. He assured us that using Nuget it could be done with breeze.</p>

          <p>Yevheniia Bereza (SD Coordinator, SDO) presented Engineering Communities idea to those who didn’t know about it and gave more details on how it currently work within SoftServe. She described benefits, outcomes and cons of participating in such activity: networking, knowledge sharing, help in resolving daily issues, etc.</p>

          <p>And once again Dmytro Bibikov leaded the audience to the fields of understanding and more efficient communication with <a href="http://pacemaker.in.ua/slides/.Net-2014/121_meetings_Dmytro%20Bibikov_SoftServe_final.pptx">1-2-1 meetings</a>. He explained all pros and cons of such meetings, major mistakes and benefits. Using 1-2-1 meetings as one on instruments helps to build trust with team members, who doesn’t like discussing working and career issues public.</p>
          
          <p>Short story about one project was told by Oleksandr Valetskyy (Intermediate Software Engineer). Professional developer who saved simple view of things. He made inspiring and light speech on <a href="http://pacemaker.in.ua/slides/.Net-2014/Oleksandr_Valetsky_-_Legacy_dot_NET_solutions_upgrade.pptx">Legacy .NET solutions upgrade</a>.</p>

          <p>Alina Marusyk (Project Coordinator) explained <a href="http://pacemaker.in.ua/slides/.Net-2014/Customer_with_many_faces.pptx">how many faces customers have</a> and how team members could deal with every type of customer to make job smooth and efficient.</p>
          
          <p>Nobody expected that &laquo;dark horse&raquo;, Vladymyr Kramar (Technical Leader), made them all. Vladymyr till the very beginning kept his speech in secret, but in the end according to traditional voting he became the best speaker of the conference. He shared his knowledge of <a href="http://pacemaker.in.ua/slides/.Net-2014/Vladymyr_Kramar.pptx">C#/.Net: Common Mistakes &amp; Controversial Topics</a></p>

          <p>And finally one more newcomer of Pacemaker Conference, Leonid Molotiievskyi (Senior Software Engineer), told <a href="http://pacemaker.in.ua/slides/.Net-2014/AppDomains.ppt">about App Domains in .Net</a>. Leonid shared his experience about problems in applications that work with AppDomains and how to resolve them. All his knowledge and inspiration he exerted to make perfect final of the event.</p>

          <p>All photos, presentations and useful material you can see on <a href="http://pacemaker.in.ua/">Pacemaker</a> site.</p>

          <p>Fellows you were really great! Thanks to all of you for help, support and for making this event happened.</p>

          <p>Let’s hang out at Pacemaker:Java on December 6!</p>

          <p>Next Pacemaker conference will be in March 2015.</p>

          <p><i>Sincerely yours, <br/> SDO and TMG teams</i></p>

        </div><!-- .span7 -->

        <!-- images -->
<!--         <div class="span4" style="padding-bottom: 25px; margin-top: 80px">
          <a href="https://www.facebook.com/media/set/?set=a.603537476422548.1073741831.210154085760891&type=1"  target="_blank">
            <h3><i class="icon-picture" style="padding: 0 10px 0 0; margin: 7px 0 0 0 "></i> <span>Photos</span></h3>
            <img class="" src="/images/ico_photos.png"></img>
          </a>
        </div> -->

        <!-- videos -->
        <!-- <div class="span4">
          <a href="http://youtu.be/EM95-kwincs"  target="_blank">
            <h3><i class="icon-film"  style="padding: 0 10px 0 0; margin: 7px 0 0 0 "></i> Videos</h3>
                <img class="" src="/images/ico_videos.png"></img>
              </a> 
          </div>
        </div> -->
</div>