<!-- Program Section -->
<div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text program-list">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="time"><i class="icon-time"></i> 09:30 </td>
                    <td><strong><i class="icon-signin"></i>    Registration </strong></td>
                </tr>
                <tr>
                    <td class="time"><i class="icon-time"></i> 10:00 </td>
                    <td><strong><i class="icon-signin"></i>    Introduction </strong></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 10:15 </td>
                    <td><strong><i class="icon-comments"></i>   pro-CEMEHA </strong> - <a href="speakers#dmytro.bibikov"> <em>Dmytro Bibikov</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 11:00 </td>
                    <td><strong><i class="icon-comments"></i>   Functional Programming in .Net </strong> - <a href="speakers#taras.dyvak"> <em>Taras Dyvak</em></a></td>
                </tr>
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 11:50 </td>
                    <td><strong><i class="icon-tint"></i>       Coffee Break </strong></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 12:05 </td>
                    <td><strong><i class="icon-comments"></i>   Nuget — managing binary artifacts with breeze </strong> - <a href="speakers#petro.sasnyk"> <em>Petro Sasnyk</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 12:55 </td>
                    <td><strong><i class="icon-comments"></i>   Integration with MS Office: anger management </strong> - <a href="speakers#volodymyr.morozov"> <em>Volodymyr Morozov</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 13:15 </td>
                    <td><strong><i class="icon-comments"></i>   Legacy .NET solutions upgrade - Short story about one project </strong> - <a href="speakers#oleksandr.valetskyy"> <em>Oleksandr Valetskyy</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 13:40 </td>
                    <td><strong><i class="icon-comments"></i>   Engineering Communities at SoftServe <em>Yevheniia Bereza</em></td>
                </tr>
                <tr class="lunch">
                    <td class="time"> <i class="icon-time"></i> 14:00 </td>
                    <td> <strong> <i class="icon-gift"></i> Lunch </strong> </td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 15:00 </td>
                    <td><strong><i class="icon-comments"></i>   Customer with many faces — dealing with them all </strong> - <a href="speakers#alina.marusyk"> <em>Alina Marusyk</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 15:45 </td>
                    <td><strong><i class="icon-comments"></i>   One to one meetings </strong> - <a href="speakers#dmytro.bibikov"> <em>Dmytro Bibikov</em></a></td>
                </tr>
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 16:25 </td>
                    <td> <strong> <i class="icon-tint"></i> Coffee Break </strong> </td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 16:40 </td>
                    <td><strong><i class="icon-comments"></i>   C#/.Net: Common Mistakes &amp; Controversial Topics </strong> - <a href="speakers#vladymyr.kramar"> <em>Vladymyr Kramar</em></a></td>
                </tr>
                <tr>
                    <td class="time"> <i class="icon-time"></i> 17:25 </td>
                    <td><strong><i class="icon-comments"></i>   App Domains in .Net </strong> - <a href="speakers#leonid.molotiievskyi"> <em>Leonid Molotiievskyi</em></a></td>
                </tr>
                <tr class="beer-break">
                    <td class="time"> <i class="icon-time"></i> 18:25 </td>
                    <td> <strong> <i class="icon-glass"></i> Pizza party </strong> </td>
                </tr>
            </tbody>
        </table>
        <p>

        </p>
    </div>
</div><!-- #program -->
