<!-- Program Section -->
<div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text program-list">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="time"><i class="icon-time"></i> 09:30 </td>
                    <td><strong><i class="icon-signin"></i>    Registration </strong></td>
                </tr>
                <tr>
                    <td class="time"><i class="icon-time"></i> 10:00 </td>
                    <td><strong><i class="icon-signin"></i>    Introduction </strong></td>
                </tr>
<!--                 <tr>
                    <td class="time"> <i class="icon-time"></i> 10:15 </td>
                    <td><strong><i class="icon-comments"></i>   JS performance </strong> - <a href="speakers#Dmytro.Ovcharenko"> <em>Dmytro Ovcharenko</em></a></td>
                </tr> -->
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 11:50 </td>
                    <td><strong><i class="icon-tint"></i>       Coffee Break </strong></td>
                </tr>
                <tr class="lunch">
                    <td class="time"> <i class="icon-time"></i> 14:00 </td>
                    <td> <strong> <i class="icon-gift"></i> Lunch </strong> </td>
                </tr>
                <tr class="coffee-break">
                    <td class="time"> <i class="icon-time"></i> 16:00 </td>
                    <td> <strong> <i class="icon-tint"></i> Coffee Break </strong> </td>
                </tr>
                <tr class="beer-break">
                    <td class="time"> <i class="icon-time"></i> 19:40 </td>
                    <td> <strong> <i class="icon-glass"></i> Pizza party </strong> </td>
                </tr>
            </tbody>
        </table>
        <p>

        </p>
    </div>
</div><!-- #program -->
