
	<!-- Report Section -->
	<div id="report" class="content_wrap">

	<div class="promo_text speakers report">
		<div class="row">
			<div class="span7">
			
		      <h1><p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Pacemaker:
Mobility, <span class=SpellE>Lviv</span>, 5<sup>th</sup> of July<o:p></o:p></span></p></h1>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>This time
Pacemaker Conference was all about Mobility. The venue we selected for this conference
was Ukrainian Catholic University with its special atmosphere. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Software
Development Office (SDO) and Training Management Group (TMG) representatives
met about 50 <span class=SpellE>SoftServers</span>, who came from different
Development Centers and cities to <span class=SpellE>Lviv</span> to share this
event and this day with all of us. The geography of Pacemaker participants was <span
class=SpellE>Lviv</span>, Dnepropetrovsk, Chernivtsi and Ivano-Frankovsk. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Pacemaker:
Mobility is the first <span class=SpellE>SoftServe</span> conference about
mobile technologies, but not the first Pacemaker. We are proud to say that it’s
the 10<sup>th</sup> Pacemaker at <span class=SpellE>SoftServe</span>.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>After
registration and quick introduction of speakers and topics Pacemaker: Mobility was
officially started. <span class=GramE>And</span> here we go: the first speaker
– Dmytro <span class=SpellE>Malyeyev</span> (developer @ N-<span class=SpellE>iX</span>
company and ex-<span class=SpellE>SoftServe</span> Solution Architect, <span
class=SpellE>Lviv</span>) with his sparkling sense of humor and ability to feel
and lead the audience. He presented his view of “Fear and Loathing in <span
class=SpellE>PhoneGap</span>”</span><span lang=EN-US style='font-family:Wingdings;
mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin;mso-ansi-language:EN-US;mso-char-type:
symbol;mso-symbol-font-family:Wingdings'><span style='mso-char-type:symbol;
mso-symbol-font-family:Wingdings'>J</span></span><span lang=EN-US
style='mso-ansi-language:EN-US'>. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>The pros
and cons of “Mobile app development options / Hybrid application development”
were thoroughly explained by Oleksandr <span class=SpellE>Mykhalyshyn</span> (Application
Architect at <span class=SpellE>SoftServe</span>, <span class=SpellE>Lviv</span>).
Oleksandr has presented very creative approach of how to overcome <span
class=SpellE>PhoneGap</span> limitations using embedded into application HTTP
server. He also has highlighted some important steps of developing mobile apps
successful <span class=SpellE>strategy<span class=GramE>:He</span></span>
highlighted some important steps of developing mobile apps successful strategy:
<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt;mso-list:l0 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:
EN-US'><span style='mso-list:Ignore'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='mso-ansi-language:EN-US'>to
make main proper decisions at the begging of the development process;<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l0 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:
EN-US'><span style='mso-list:Ignore'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='mso-ansi-language:EN-US'>to
let the stakeholders know that mobile=native;<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt;mso-list:l0 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:
EN-US'><span style='mso-list:Ignore'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span class=GramE><span lang=EN-US
style='mso-ansi-language:EN-US'>to</span></span><span lang=EN-US
style='mso-ansi-language:EN-US'> be in touch with your UI team, etc.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>By the way
these two guys are not Pacemaker beginners. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>After a
short coffee break Kostyantyn Pylypchuk (Director of Software Development
Office at <span class=SpellE>SoftServe</span>, <span class=SpellE>Lviv</span>) made
a speech about Communities of Practice. “Communities of Practice” is a new way
and view of sharing knowledge, best practices, which leads a company toward a
true knowledge organization. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Oleksandr
Krasnokutskyi (<span class=SpellE>Abiliton</span>-PRO Intermediate Software Engineer
at <span class=SpellE>SoftServe</span>, Chernivtsi) in his “Your presentation <span
class=SpellE>ver</span> 2.0” explained how to create presentation without
PowerPoint, but using HTMS, CSS, JS and browser applications. As for me it’s a
brand-new, quicker and easier way of sharing your ideas with other people.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>According
to the Pacemakers’ voting the best speaker was Markiian Tsymbalista (Junior
Software Engineer @ <span class=SpellE>SoftServe</span>, <span class=SpellE>Lviv</span>)
with his wearable technologies and gadgets. Markiian believes that wearable
gadgets are on the go and in several years we won’t ever notice how such
technologies become every-day things. He instilled his confidence into the
audience.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Serhii
Borysov is also familiar as Pacemakers speaker. This time he told about mobile
backend as a service (<span class=SpellE>MBaaS</span>). His detailed list of
pros and cons on using <span class=SpellE>MBaaS</span> or <span class=SpellE>Opensource</span>
<span class=SpellE>MBaas</span>, comparison charts, complex schemes of mobile
caching process one more time showed that his professionalism and oratory
skills have quite long history. <span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Our last
speaker was <span class=SpellE>Ievgenii</span> <span class=SpellE>Kulyk</span>
(<span class=SpellE>Abiliton</span>-PRO Junior Software Engineer at <span
class=SpellE>SoftServe</span>, <span class=SpellE>Lviv</span>) with his
magnificent world of Unity 3D. In motion he created a player and enemies, made
enemies smarter and grouped them.<span style='mso-spacerun:yes'>  </span>What a
challenge?!<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>We spent a
perfect day: more than 10 <span class=SpellE>hrs</span> of discussion, coffee
breaks, speeches and lighting. At the end of this day we wine and dine our
guests with pizza and beer by the water. Tasteful food and beer in a good company
of Pacemakers is the best end of Saturday! Don't you think so?! As a part of
Pacemaker tradition during after-party we made a T-shirts lottery. More than 10
Pacemakers got T-shirts with Pacemaker: Mobility logo.<span
style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Join us in
autumn at our next Pacemaker! The keynote of the next Pacemaker Conference we’d
announce later!<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>CYA. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>Sincerely
your,<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-ansi-language:EN-US'>SDO and TMG
teams<o:p></o:p></span></p>

</div>

			</div>
		</div>
	</div>

	

		