
<br>
<br>
<br>
<div class='header'>
  <div class='span9'>
    <h1>PACEMAKER <small><%= settings.conferencies[settings.conf][:title].gsub('PACEMAKER |', '') %></small></h1>
    <p>
      <i class="icon-calendar"></i> <%= settings.conferencies[settings.conf][:date] %>.

      <i class="icon-map-marker"></i> <%= settings.conferencies[settings.conf][:location] %>
    </p>

  </div>
  <div class='span3'>
    <!-- REGISTER -->
      <!-- <div class="register pull-right">
        <a href="register" class="btn btn-primary" >Register</a>
      </div> 
      <br>
      <h4 class="pull-right">
        <small> *only for SoftServe folks</small>
      </h4> -->
  </div>
  <!-- <br><br><br> -->
</div>