
  <!-- About Section -->
  <div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header"  %>

  <div class="feature">

    <!-- <br><br>
    <div id="hint">
      <p>April 7-8, 2012. Dnipropetrovs’k <img class="logo_conf" src="/images/js-2012/logo/logo_conf.png"/> Limit <span class="limit" ><img src="/images/6.png"></img><img src="/images/0.png"></img> &nbsp;&nbsp; people.</span> </p>
    </div> -->

  </div>

  <div class="promo_text">

    <div class="row">
        <div class="span4">
          <blockquote><p>NodeJS: Inside Tactoom.com</p> <small>Alexey Gayduk</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Not a relational databases</p> <small>Roman Nikolaenko</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Stories from the life of Java consultant</p> <small>Andriy Shapochka</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Smarter Testing with Spock</p> <small>Dmitry Voloshko</small></blockquote>
        </div>
        <div class="span4">
          <blockquote><p>Near Field Communication</p> <small>Vitaliy Yuryev</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Spring Security 3</p> <small>Maksym Titov</small></blockquote>
        </div>
    </div>

   
    </div>
  </div>
</div>



