<!-- About Section -->
  <div id="about" class="content_wrap">
  <div class="feature">
    <div class="about">


      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2><i class="icon-comments"></i> NodeJS: Inside Tactoom.com  </h2>
          <p class="topic_author"><i class="icon-user"></i> Yura Bogdanov </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-1-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-1.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> How to test JavaScript with Jasmine </h2>
          <p class="topic_author"><i class="icon-user"></i> Vladimir Vorobyov </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-2-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-2.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> HSPS project: Sencha touch in motion </h2>
          <p class="topic_author"><i class="icon-user"></i> Veronika Dudnik </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-3-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-3.jpg" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> Sinatra: Sing with me this ditty </h2>
          <p class="topic_author"><i class="icon-user"></i> Alex Mekhovov </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-4-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-4.jpg" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> JS Application Architecture </h2>
          <p class="topic_author"><i class="icon-user"></i> Volodymyr Pavlyuk </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-5-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-5.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> Scalable JavaScript Applications </h2>
          <p class="topic_author"><i class="icon-user"></i> Dima Tarasenko </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-6-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-6.jpg" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> Mobile Web Application case study </h2>
          <p class="topic_author"><i class="icon-user"></i> Sergii Kifiak </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-7-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-7.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> Mobile Web Application case study </h2>
          <p class="topic_author"><i class="icon-user"></i> Anton Bodnar </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-8-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-8.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2><i class="icon-comments"></i> Star Minute </h2>
          <p>

          </p>
          <p class="star_min">
            <i class="icon-user"></i> <em>Dmytro Ovcharenko</em> <br>
            <i class="icon-user"></i> <em>Dmytro Nemoga</em> <br>
            <i class="icon-user"></i> <em>Andriy Zakharko</em> <br>
            <i class="icon-user"></i> <em>Vadym Fedorov</em> <br>
            <i class="icon-user"></i> <em>Sergii Melnyk</em> <br>
            <i class="icon-user"></i> <em>Mykhailo Gaponov</em> <br>
          </p>
          <p><span class="topic_logo"><img src="/images/js-2012/logo/1-9-logo.png" alt="image01" /></span></p>
          <div class="da-img"><img class="photo" src="/images/js-2012/photos/1-9.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>


    </div>
    <!-- <br><br>
    <div id="hint">
      <p>April 7-8, 2012. Dnipropetrovs’k <img class="logo_conf" src="/images/js-2012/logo/logo_conf.png"/> Limit <span class="limit" ><img src="/images/6.png"></img><img src="/images/0.png"></img> &nbsp;&nbsp; people.</span> </p>
    </div> -->
  
  </div>

  <div class="promo_text">
    <!-- <br><br> -->
    <div class="row">
      
      <!-- about -->
        <div class="span4">
          <h3><i class="icon-info-sign"></i> About</h3>
            <p>Welcome our dear GEEKS!!! :)</p>
            <p>
              <i class="icon-heart"></i> We are happy to invite you to our <strong>PACEMAKER&nbsp;-&nbsp;JS&nbsp;conference</strong>, which is aimed to meet the like-minded people, share each other's experience and simply have a good time with a lot of use. 
            </p>
            <p>
              <i class="icon-thumbs-up"></i> We sincerely hope that the party-like format and the positive atmosphere will help us find out something new in our common interests and enjoy ourselves during the whole day. 
            </p>
        <p>
          <i class="icon-glass"></i> Since all of us will be intellectually tired at the end of the conference :) some pizza and beer will help us chill out in the informal after-party atmosphere.
            </p>
      </div>    
      
      <!-- goals -->
      <div class="span4">
          <h3><i class="icon-flag"></i> Goals</h3>
          <p>
          <ul>
            <li>Knowledge sharing</li>
            <li>Exchanging with project experience</li>
            <li>Meet each other</li>
          </ul>
        </p>
        <!-- format -->
        <!-- <hr> -->
        <br>
          <h3><i class="icon-th-large"></i> Format</h3>
          <p>
            Agile way. 
          </p>
          <p>
          <i class="icon-user"></i> Each speaker will present his/her topic as a user&nbsp;-&nbsp;story where each agenda item is an actual task. 
        </p>
          <p>
          <i class="icon-comments"></i> At the end of every presentation we are going to have a QC-session where all the questions will be answered and all the details will be discussed. 
        </p>
        </div>  

      <div class="span4 map_calendar">
          <!-- <div class="row">
            <div class="span2 1map">
                  <h3><i class="icon-calendar"></i> When?</h3>
                  <img class="map" src="/images/ico_calendar.png"></img>
                  <br>
                  <p>April 7-8, 2012.</p>
                </div>

                <div class="span2 1calendar">
                <h3><i class="icon-map-marker"></i> Where?</h3>
                  <a href="location">
                    <img class="map" src="/images/ico_map.png"></img>
                    <br>
                    <p>
                Karla Marksa Av., 22 <br>
                </p>
                  </a> 
              </div>
            </div> -->

            <div class="row pht_vid_rep">
            <!-- photos -->
            <div class="span1 1map">
              <a href="http://www.facebook.com/media/set/?set=a.216194838490149.45081.210154085760891&type=3"  target="_blank">
                    <h3><i class="icon-picture"></i> Photos</h3>
                    <img class="pht_vid" src="/images/ico_photos.png"></img>
                  </a>
                </div>

                <!-- videos -->
                <div class="span1 1calendar">
                  <a href="http://www.youtube.com/playlist?list=PL05CD8F236BAB68BA"  target="_blank">
                <h3><i class="icon-film"></i> Videos</h3>
                    <img class="pht_vid" src="/images/ico_videos.png"></img>
                  </a> 
              </div>

              <!-- report -->
                <div class="span1 1calendar">
                  <a href="report" >
                <h3><i class="icon-pencil"></i> Report</h3>
                    <img class="pht_vid" src="/images/ico_report.png"></img>
                  </a> 
              </div>

            </div>

            <!-- twitter -->
            <br>
            <h3><a href="twitter"><img class="map" src="/images/icon-twitter.png"> Twitter news</a></img></h3>
              <div class="alert  twits">
                <div class="row">
              <div class="span1 pht">
                    <img class="thumbnail" src="/images/ico_wait.gif"> </img>
                    <p class="time_ago"></p>
                  </div>
                  <div class="span2 post">
                    <p><br>loading..</p>
                  </div>
                </div>
            </div>
        </div>    
      </div>

    </div>
  </div>