
  <!-- About Section -->
  <div id="about" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>

  <div class="feature">

    <!-- <br><br>
    <div id="hint">
      <p>April 7-8, 2012. Dnipropetrovs’k <img class="logo_conf" src="/images/js-2012/logo/logo_conf.png"/> Limit <span class="limit" ><img src="/images/6.png"></img><img src="/images/0.png"></img> &nbsp;&nbsp; people.</span> </p>
    </div> -->

  </div>

  <div class="promo_text">
    
    <div class="row">
        <div class="span4">
          <blockquote><p>NodeJS: Inside Tactoom.com</p> <small>Yura Bogdanov</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>How to test JavaScript with Jasmine</p> <small>Vladimir Vorobyov</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>HSPS project: Sencha touch in motion</p> <small>Veronika Dudnik</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Sinatra: Sing with me this ditty</p> <small>Alex Mekhovov</small></blockquote>
        </div>
        <div class="span4">
          <blockquote><p>JS Application Architecture</p> <small>Volodymyr Pavlyuk</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Scalable JavaScript Applications</p> <small>Dima Tarasenko</small></blockquote>
        </div>
        <div class="span4">
          <blockquote><p>Mobile Web Application case study</p> <small>Sergii Kifiak</small></blockquote>
        </div>
        <div class="span4">
            <blockquote><p>Mobile Web Application case study</p> <small>Anton Bodnar</small></blockquote>
        </div>
    </div>

    
    </div>
  </div>
</div>



