
  <!-- Details Section -->
  <div id="details" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <!-- <div class="details_top">
    <div class="details">
      <h1><i class="icon-map-marker"></i> Location</h1>
    </div>
  </div> -->
  <div class="promo_text">
    <div class="row">
        <div class="span4">
          <h3><i class="icon-pushpin"></i> Address</h3>
        <p>
          <strong>City: </strong> Dnipropetrovs’k <br>
          <strong>Office: </strong> Karla Marksa Av., 22 (Atrium Office)
        </p>
       <hr>
         <h3><i class="icon-list-alt"></i> Contacts</h3>
        <p>
          <h4><i class="icon-user"></i> Sabina Krupko</h4>
          <ul>
            <li><strong>tel.: </strong> +380 96 846 49 33  (int: 1772)</li>
            <li><strong>mail: </strong> <a href="mailto:skrupko@softserveinc.com">skrupko@softserveinc.com</a> </li>
          </ul>
        </p>
        <p>
          <h4><i class="icon-user"></i> Dmytro Ovcharenko</h4>
          <ul>
            <li><strong>tel.: </strong> +380 98 438 91 41 </li>
            <li><strong>mail: </strong> <a href="mailto:dovchar@softserveinc.com">dovchar@softserveinc.com</a> </li>
        </ul>
        </p>
       <hr>
         <h3><i class="icon-search"></i> How to find us</h3>
        <p>
          <strong>Marshrutka:</strong> 101 (get out on Zhukovskiy Street) <br>
          <strong>Tram:</strong>  1 (across street from Railway Station) <br>
          <strong>Stop station:</strong> Atrium, Karla Marksa Av., 22 <br>
        </p>
        </div>
        <div class="span4">
        <h3><i class="icon-map-marker"></i> Direction map</h3>
          <p><iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=48.457690,35.059610&amp;z=15&amp;output=embed"></iframe></p>
        </div>
      </div>

  </div>
  </div>
