
  <!-- Program Section -->
  <div id="program" class="content_wrap">
  <!-- <div class="program_top">
    <div class="program">
      <h1><i class="icon-th-list"></i> Schedule</h1>
    </div>
  </div> -->
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 08:30 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:00 </td>
          <td><strong><i class="icon-signin"></i> Morning (Start) </strong> - <em> Dima Ovcharenko / Oleksandr Baranov</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 09:10</td>
            <td><strong><i class="icon-comments"></i> Sinatra: Sing with me this ditty</strong> - <a href="speakers#Alex.Mekhovov"><em>Alex Mekhovov</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 10:00</td>  
            <td><strong><i class="icon-comments"></i> NodeJS: Inside Tactoom.com </strong> - <a href="speakers#Yura.Bogdanov"><em>Yura Bogdanov</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 11:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:15</td>  
            <td><strong><i class="icon-comments"></i> HSPS project: Sencha touch 1.0 in motion</strong> - <a href="speakers#Veronika.Dudnik"><em>Veronika Dudnik</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:15</td>  
            <td><strong><i class="icon-star"></i> Star minute</strong> - <em>Dmytro Ovcharenko (Dnipro), Dmytro Nemoga (Dnipro), Andriy Zakharko (Lviv), Vadym Fedorov (Sevastopol), Sergii Melnyk (Sevastopol), Mykhailo Gaponov (Sevastopol)</td></tr>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 13:15</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:15</td>  
            <td><strong><i class="icon-comments"></i> Mobile Web Application - case study</strong> - <a href="speakers#Anton.Bodnar"><em>Anton Bodnar</a>, <a href="#Sergii.Kifiak">Sergii Kifiak</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:15</td>  
            <td><strong><i class="icon-comments"></i> How to test JavaScript with Jasmine</strong> - <a href="speakers#Vladimir.Vorobyov"><em>Vladimir Vorobyov</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 16:15</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>

          <tr>
            <td class="time"><i class="icon-time"></i> 16:30</td>  
            <td><strong><i class="icon-comments"></i> JS Application Architecture (part 1 - theory)</strong> - <a href="speakers#Volodymyr.Pavlyuk"><em>Volodymyr Pavlyuk</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:30</td>  
            <td><strong><i class="icon-comments"></i> Scalable JavaScript Applications (part 2 - practice &amp; samples)</strong> - <a href="speakers#Dima.Tarasenko"><em>Dima Tarasenko</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 18:30</td>
            <td><strong><i class="icon-signout"></i> Evening (Finish)</strong> - <em> Dima Ovcharenko</em></td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 18:40</td>  
            <td><strong><i class="icon-glass"></i> Beer party</strong></td>
          </tr>
      </tbody>
    </table>
  </div>
  </div>