  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:00 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:30 </td>
          <td><strong><i class="icon-signin"></i> Morning (Start) </strong> - <em> Dima Ovcharenko / Oleksandr Baranov</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 10:00</td>
            <td><strong><i class="icon-comments"></i> topic </strong> - <a href="speakers#name"><em>name</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:00</td>  
            <td><strong><i class="icon-comments"></i> topic  </strong> - <a href="speakers#name"><em> name </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 12:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:15</td>  
            <td><strong><i class="icon-comments"></i> topic </strong> - <a href="speakers#name"><em> name </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 13:15</td>  
            <td><strong><i class="icon-star"></i> Star minute</strong> - <em> name (city), name (city), name (city), name (city)</em></td></tr>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 14:00</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:00</td>  
            <td><strong><i class="icon-comments"></i> topic </strong> - <a href="speakers#name"><em> name </a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:00</td>  
            <td><strong><i class="icon-comments"></i> topic </strong> - <a href="speakers#name"><em> name </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 17:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:15</td>  
            <td><strong><i class="icon-comments"></i> topic </strong> - <a href="speakers#name"><em> name </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 18:15</td>
            <td><strong><i class="icon-signout"></i> Evening (Finish)</strong> - <em> Dima Ovcharenko / Oleksandr Baranov</em></td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 19:00</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      * Program schedule might be changed.
    </p>
  </div>
  </div>
