
  <!-- Register Section -->
  <div id="register" class="content_wrap">
  
    <%= erb :"#{settings.conf}/_header" %>

    <div class="row">
      <div class="span1">
        <br>
      </div>
      <div class="span11">
        


<!-- 123ContactForm.com script begins here -->
        
<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=window.top.location.href; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-659521.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

<!-- 123ContactForm.com script ends here -->




      </div>

    </div>
  </div>