  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:30 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 10:00 </td>
          <td><strong><i class="icon-signin"></i> Introduction </strong> - <em> Roman Yakhymets</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 10:15</td>
            <td><strong><i class="icon-comments"></i> BigData processing with Apache Hadoop</strong> - <a href="speakers#Vitaliy.Yuryev"><em>Vitaliy Yuryev</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:00</td>  
            <td><strong><i class="icon-comments"></i> BigData structured analytics  </strong> - <a href="speakers#Taras.Bachynskyy"><em>Taras Bachynskyy</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 11:45</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:00</td>  
            <td><strong><i class="icon-comments"></i> Enterprise search: looking for a needle in a haystack </strong> - <a href="speakers#Kostyantyn.Reu"><em>Kostyantyn Reu</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:45</td>  
            <td><strong><i class="icon-comments"></i> Six graphs & five sources of BigData </strong> - <a href="speakers#Vasyl.Mylko"><em>Vasyl Mylko</a></td>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 13:30</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:30</td>  
            <td><strong><i class="icon-comments"></i> Hierarchical queries in Oracle</strong> - <a href="speakers#Iryna.Khomutova"><em>Iryna Khomutova</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:45</td>  
            <td><strong><i class="icon-comments"></i> FlyWay - the agile database migration framework</strong> - <a href="speakers#Vitaliy.Bashun"><em>Vitaliy Bashun</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:00</td>  
            <td><strong><i class="icon-comments"></i> Introduction to MongoDB: write your first NoSQL blog</strong> - <a href="speakers#Maksym.Palamarenko"><em>Maksym Palamarenko</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:15</td>  
            <td><strong><i class="icon-comments"></i> Predicted analytics in the real world</strong> - <a href="speakers#Bogdan.Dmytryshyn"><em>Bogdan Dmytryshyn</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 16:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:15</td>  
            <td><strong><i class="icon-comments"></i> Optimizing SQL queries and database performance (MS SQL Server)</strong> - <a href="speakers#Denis.Reznik"><em>Denis Reznik</em></a></td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 18:30</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      
    </p>
  </div>
  </div>
