<div class='header'>

  <div class='span8 conf_about'>
    <p>
      It takes all the running you can do, to keep in the same place. If you want to get somewhere else, you must run at least twice as fast as that!<br>
      <span class="author">-Red Queen </span>
    </p> 
  </div>

  <div class='span4 conf_logo'>
      <img class="logo" src="/images/pacemaker_logo.png" />
  </div>


  <div class='span8 conf_name'>
    <h1> Pacemaker:<%= settings.conferencies[settings.conf][:title].gsub('PACEMAKER | ', '').gsub('Conference, 2012', '') %> </h1>
    <p> made by “SoftServers for SoftServers” </p>
  </div>

  <div class='span4 conf_details'>
    <p>
      This time <strong> <%= settings.conferencies[settings.conf][:limit] %> lucky people </strong> <br>
      will meet on <strong> <%= settings.conferencies[settings.conf][:date] %> </strong> <br>
      in a beautiful city of <strong> <%= settings.conferencies[settings.conf][:location] %> </strong> <br>
    </p>
  </div>


</div>
    
    <!-- Photos, videos -->

      <!-- <div class="span2 1map pull-right">
        <br><br>
        <a href="http://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=3"  target="_blank">
              <img class="pht_vid" src="/images/ico_photos.png"></img>
            </a>
          
            <a href="http://www.youtube.com/playlist?list=PL05CD8F236BAB68BA"  target="_blank">
              <img class="pht_vid" src="/images/ico_videos.png"></img>
            </a> 
        </div> -->
