<div class='header'>

  <div class='span4 pacemaker_logo'>

    <img class="logo" src="/images/pacemaker_logo.png" />
    <h1>PACEMAKER <small><%= settings.conferencies[settings.conf][:title].gsub('PACEMAKER |', '').gsub('Conference, 2012', '') %></small></h1>

  </div>


  <div class='span4'>
    <p class="about_conf_text">
      <strong>Conference</strong> organized by developers for developers. This is where everyone has the opportunity to meet and chat live with their colleagues from different offices, to share experience and helpful tips.<br>
    </p> 
      <small class="pull-right">*company covers travel and lodging expenses.</small>
  </div>


  <div class='span4'>
      <h1 class="pull-right">
        <small class="pull-right"> <img class="icons" src="/images/ico-time.png"></img><%= settings.conferencies[settings.conf][:date] %></small><br>
        <small class="pull-right"> <img class="icons" src="/images/ico-location.png"></img> <%= settings.conferencies[settings.conf][:location] %></small>
      </h1>
    
    <!-- Photos, videos -->

      <div class="span2 1map pull-right">
        <br><br>
        <a href="http://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=3"  target="_blank">
              <img class="pht_vid" src="/images/ico_photos.png"></img>
            </a>
          
            <a href="http://www.youtube.com/playlist?list=PL05CD8F236BAB68BA"  target="_blank">
              <img class="pht_vid" src="/images/ico_videos.png"></img>
            </a> 
        </div>

  </div>
</div>