
	<!-- About Section -->
	<div id="about" class="content_wrap">

  	<%= erb :"#{settings.conf}/_header" %>

	
	<div class="promo_text">
		
		<div class="row">
				<div class="span4">
					<blockquote><p>Hadoop distributed computing</p> <small>Alexey Gayduk</small></blockquote>
				</div>
				<div class="span4">
						<blockquote><p>Not a relational databases</p> <small>Roman Nikolaenko</small></blockquote>
				</div>
				<div class="span4">
						<blockquote><p>Stories from the life of Java consultant</p> <small>Andriy Shapochka</small></blockquote>
				</div>
				<div class="span4">
						<blockquote><p>Smarter Testing with Spock</p> <small>Dmitry Voloshko</small></blockquote>
				</div>
				<div class="span4">
					<blockquote><p>Near Field Communication</p> <small>Vitaliy Yuryev</small></blockquote>
				</div>
				<div class="span4">
						<blockquote><p>Spring Security 3</p> <small>Maksym Titov</small></blockquote>
				</div>
		</div>

	
		</div>
	</div>
</div>



