  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <!-- <div class="program_top">
    <div class="program">
      <h1><i class="icon-th-list"></i> Schedule</h1>
    </div>
  </div> -->
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:20 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 09:50 </td>
          <td><strong><i class="icon-signin"></i> Morning (Start) </strong> - <em> Dima Ovcharenko / Oleksandr Baranov</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 10:00</td>
            <td><strong><i class="icon-comments"></i> Hadoop distributed computing</strong> - <a href="speakers#Alexey.Gayduk"><em>Alexey Gayduk</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 11:00</td>  
            <td><strong><i class="icon-comments"></i> Not a relational databases  </strong> - <a href="speakers#Roman.Nikolaenko"><em>Roman Nikolaenko</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 12:00</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:15</td>  
            <td><strong><i class="icon-comments"></i> Stories from the life of Java consultant</strong> - <a href="speakers#Andriy.Shapochka"><em>Andriy Shapochka</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 13:15</td>  
            <td><strong><i class="icon-star"></i> Star minute</strong> - <em>Dmytro Ovcharenko (Dnipro), Mariia Bilokurova (Lviv), Alina Marusyk (Chernivtsi), Maksym Titov (Dnipro), Veronika Dudnyk (Dnipro), Vadim Mateushev (Dnipro)</td></tr>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 14:15</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:15</td>  
            <td><strong><i class="icon-comments"></i> Smarter Testing with Spock</strong> - <a href="speakers#Dmitry.Voloshko"><em>Dmitry Voloshko</a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:15</td>  
            <td><strong><i class="icon-comments"></i> Near Field Communication</strong> - <a href="speakers#Vitaliy.Yuryev"><em>Vitaliy Yuryev</em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 17:15</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>

          <tr>
            <td class="time"><i class="icon-time"></i> 18:30</td>  
            <td><strong><i class="icon-comments"></i> Spring Security 3</strong> - <a href="speakers#Maksym.Titov"><em>Maksym Titov</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 19:30</td>
            <td><strong><i class="icon-signout"></i> Evening (Finish)</strong> - <em> Dima Ovcharenko</em></td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 19:40</td>  
            <td><strong><i class="icon-glass"></i> Beer party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      * Program schedule might be changed.
    </p>
  </div>
  </div>
