<div class='header'>

  <div class='span4 pacemaker_logo'>

    <img class="logo" src="/images/pacemaker_logo.png" />
    <h1>PACEMAKER <small><%= settings.conferencies[settings.conf][:title].gsub('PACEMAKER |', '').gsub('Conference, 2012', '') %></small></h1>

  </div>


  <div class='span4'>
    <br><br>
    <p>
       Conference organized by developers for developers. This is where every developer has the opportunity to meet and chat live with their colleagues from different offices to share their experience and provide helpful tips that can help in the work.
    </p>
  </div>


  <div class='span4'>
      <h1 class="pull-right">
        <small class="pull-right"> <%= settings.conferencies[settings.conf][:date] %></small><br>
        <small class="pull-right"><%= settings.conferencies[settings.conf][:location] %></small>
    </h1>

    <!-- REGISTER -->
      <div class="register pull-right">
        <br><br>
        <a href="register" class="btn btn-primary" >Register</a>
        <br>
        <small>&nbsp;* only for SoftServe folks</small>
      </div> 
      
  </div>
</div>