
	<!-- About Section -->
	<div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text">
    <br><br><br>
		<div class="row">
				<div class="span4 ">
          <h1 class="call_speakers pull-right"> <i class="icon-bullhorn icon-large"></i></h1>
        </div>
        <div class="span5">
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers<small> <br>  mail us to suggest a speaker</small></h1></a>
        </div>
        
				<div class="span5">
          <br><br>
						<!-- <blockquote><p>ToDo: Topic</p> <small>Speaker</small></blockquote> -->
				</div>
    </div>
  
    <br><br><br>
		
		</div>
	</div>
</div>



