
	<!-- About Section -->
	<div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text">
   
    <div class="row speakers">
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p><abbr title="attribute">CI</abbr> in big projects integration</p> 
            <small><a href="speakers#YudenkoAndriy">Yudenko Andriy</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Emotional intelligence</p> 
            <small><a href="speakers#VadimMateushev">Vadim Mateushev</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Fisheye crucible</p> 
            <small>Yevhen Yepanchyn</small>
          </blockquote>
        </div>
    </div>

		<div class="row">
      <br><br><br>
				<div class="span4 ">
          <h1 class="call_speakers pull-right"> <i class="icon-bullhorn icon-large"></i></h1>
        </div>
        <div class="span5">
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers<small> <br>  mail us to suggest a speaker</small></h1></a>
        </div>
        
				<div class="span5">
          <br><br>
				</div>
    </div>
  
		</div>
	</div>
</div>



