
  <!-- Details Section -->
  <div id="details" class="content_wrap">
  <!-- <div class="details_top">
    <div class="details">
      <h1><i class="icon-map-marker"></i> Location</h1>
    </div>
  </div> -->
  <div class="promo_text">
    <div class="row">
        <div class="span4">
          <h3><i class="icon-pushpin"></i> Address</h3>
        <p>
          <strong>City: </strong> <%= settings.conferencies[settings.conf][:location] %> <br>
          <!-- <strong>Hotel: </strong> Bukovyna (Golovna str., 141) <a href="http://bukovyna-hotel.com">Site</a><br> -->
        </p>
       <hr>
         <h3><i class="icon-list-alt"></i> Contacts</h3>
        <p>
          <h4><i class="icon-user"></i> Alina Marusyk</h4>
          <ul>
            <li><strong>tel.: </strong> +380 50 919 18 88 </li>
            <li><strong>mail: </strong> <a href="mailto:amarusyk@softserveinc.com">amarusyk@softserveinc.com</a> </li>
        </ul>
        </p>
        <p>
          <h4><i class="icon-user"></i> Khrystyna Paprotska</h4>
          <ul>
            <!-- <li><strong>tel.: </strong> +380 96 846 49 33  (int: 1772)</li> -->
            <li><strong>mail: </strong> <a href="mailto:kpap@softserveinc.com">kpap@softserveinc.com</a> </li>
          </ul>
        </p>
        <p>
          <h4><i class="icon-user"></i> Dmytro Ovcharenko</h4>
          <ul>
            <li><strong>tel.: </strong> +380 98 438 91 41 </li>
            <li><strong>mail: </strong> <a href="mailto:dovchar@softserveinc.com">dovchar@softserveinc.com</a> </li>
            <li><strong>skype: </strong> ovcharenko.dima</li>
        </ul>
        </p>
       <!-- <hr>
         <h3><i class="icon-search"></i> How to find us</h3>
        <p>
          <strong>Taxi:</strong> (0372) 585-111 or (050)-33-85-11,<br>
                      (0372) 585-999 or (050) 338-99-99 <br>
          <strong>Trolleybus</strong>  №3, №3а, №5 <br>
          <strong>Stop station:</strong> 141 Golovna str. “Bukovyna” hotel <br>
          <strong>Detail info:</strong> <a href="/map/Pacamaker Java_City guide.pdf">view</a><br>
        </p> -->
        </div>
        <div class="span4">
        <h3><i class="icon-map-marker"></i> Direction map</h3>
          <p>
            ToDo..
            <!-- <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=48.27751,25.943592&amp;z=15&amp;output=embed"></iframe> -->
          </p>
        </div>
      </div>

  </div>
  </div>

