  <!-- Call 4 Speakers Section -->
  <div id="about" class="content_wrap">

  <!-- SLIDER -->
  <%= erb :"#{settings.conf}/_slider"  %>

  <div class="promo_text">
    <br><br><br>

    <div class="row">
      <div class="span4">
          <br>
        </div>
        <div class="span6">
          <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers!<small> <br> mail us to suggest a speaker</small></h1></a>
        </div>
        <div class="span5">
          <br>
        </div>
        
    </div>
    <br><br><br>
    </div>
  </div>
