
	<!-- Report Section -->
	<div id="report" class="content_wrap">

	<div class="promo_text speakers report">
		<div class="row">
			<div class="span7">
		      <h1><i class="icon-pencil"></i> PACEMAKER - Conf Report</h1>

		      <br>
		      <div class="span3">
		      	&nbsp;
		      </div>
		      	
		      	...

		    </div>
		    <!-- photos -->
		    <div class="span2">
				<a href="https://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=1"  target="_blank">
      				<h3><i class="icon-picture"></i> Photos</h3>
      				<img class="" src="/images/ico_photos.png"></img>
      			</a>
      		</div>
			<!-- videos -->
			<!-- <div class="span2">
				<a href="#"  target="_blank">
						    <h3><i class="icon-film"></i> Videos</h3>
		      			  	<img class="" src="/images/ico_videos.png"></img>
		      			  </a> 
		    </div> -->

			<!-- twitter -->
			<div class="span4">  			  
				<br>
		    		<h3><a href="twitter"><img class="map" src="/images/icon-twitter.png"> Twitter news</a></img></h3>
			        <div class="alert  twits">
			        	<div class="row">
							<div class="span1 pht">
		        				<img class="thumbnail" src="/images/ico_wait.gif"> </img>
		        				<p class="time_ago"></p>
		        			</div>
		        			<div class="span2 post">
		        				<p><br>loading..</p>
		        			</div>
		        		</div>
		    		</div>
		    </div>
		    
		    <!-- <div class="span4">
			<br>
		    <hr>
		    	<span class="thumbnail video">
		    		<iframe width="290" height="170" src="http://www.youtube.com/embed/b_hD2zyjaRE" frameborder="0" allowfullscreen></iframe>
		    	</span>
		    	<hr>
		    	<span class="thumbnail video">
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/Qx3hZrMy2bI" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/aAdOtyrmD8A" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/0dCmJsK70xw" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/W821LdKnLRg" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/vBzjhgx-ChE" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/WcAzwrkwwBo" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/6SB8HBkSdgQ" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/PDky8KUjVq4" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/W6taxxnWSdE" frameborder="0" allowfullscreen></iframe>
			    </span>
		    </div>	 -->

	   
	</div>
	</div>

	

		