  <!-- Program Section -->
  <div id="program" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>
    
  <div class="promo_text program-list">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="time"><i class="icon-time"></i> 10:00 </td>
          <td><strong><i class="icon-signin"></i> Registration</strong></td>
        </tr>
        <tr> 
          <td class="time"><i class="icon-time"></i> 10:30 </td>
          <td><strong><i class="icon-signin"></i> Morning (Start) </strong> - <em> Oleksandr Baranov</em></td>
        </tr>
          <tr>           
            <td class="time"><i class="icon-time"></i> 11:00</td>
            <td><strong><i class="icon-comments"></i> Puppet Automation Suite, DevOps Engineer Looks Like </strong> - <a href="speakers#Mykola.Shengera"><em>Mykola Shengera</em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 12:00</td>  
            <td><strong><i class="icon-comments"></i> Cloud Computing with AWS  </strong> - <a href="speakers#Anton.Pogoryelyi"><em> Anton Pogoryelyi </em></a></td>
          </tr>
          <tr class="lunch">     
            <td class="time"><i class="icon-time"></i> 13:00</td>  
            <td><strong><i class="icon-gift"></i> Lunch</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 14:30</td>  
            <td><strong><i class="icon-comments"></i> Vagrant - secret sauce of devops </strong> - <a href="speakers#Petro.Sasnyk"><em> Petro Sasnyk </a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 15:30</td>  
            <td><strong><i class="icon-comments"></i> Steps to Cloud for Dummies </strong> - <a href="speakers#Serhii.Borysov"><em> Serhii Borysov </em></a></td>
          </tr>
          <tr class="coffee-break">
            <td class="time"><i class="icon-time"></i> 16:30</td>  
            <td><strong><i class="icon-tint"></i> Coffee Break</strong></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 16:45</td>  
            <td><strong><i class="icon-comments"></i> Cloud Security vs Security in the Cloud </strong> - <a href="speakers#Bohdan.Serednytskyi"><em> Bohdan Serednytskyi </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 17:45</td>  
            <td><strong><i class="icon-comments"></i> DevOps vs SysAdmin </strong> - <a href="speakers#Roman Pavlyuk"><em> Roman Pavlyuk </em></a></td>
          </tr>
          <tr>
            <td class="time"><i class="icon-time"></i> 18:45</td>
            <td><strong><i class="icon-signout"></i> Evening (Finish)</strong> - <em>  Oleksandr Baranov</em></td>
          </tr>
          <tr class="beer-break">
            <td class="time"><i class="icon-time"></i> 19:00</td>  
            <td><strong><i class="icon-glass"></i> Pizza party</strong></td>
          </tr>
      </tbody>
    </table>
    <p>
      * Program schedule might be changed.
    </p>
  </div>
  </div>
